footer.n-footer
	.n-layout--full.n-footer__head
		a#footGoTop(href="#" title="TOP") TOP
	.n-layout--full.n-footer__body
		.n-layout--md
			.n-left.n-footer__helper
				mixin helperTitle(title)
					li
						h4= title
				ul.n-left.n-footer__helper-box
					+helperTitle('優惠特輯')
					-var listTxts = [ {link: 'Hokang.aspx', name: '每日好康'}, {link: 'gbsale.aspx?', name: '集購專區'}, {link: 'SimpleTemplate.aspx?SubPage=DMSetting/Final/201703/SP_1053634/index.html', name: '會員專區'} ]
					each listTxt in listTxts
						li
							a(href=listTxt.link title= listTxt.name target="_blank")= listTxt.name
				ul.n-left.n-footer__helper-box
					+helperTitle('購物服務')
					-var listTxts = [ {link: 'benefitexchange.aspx', name: '企業專區'}, {link: 'Go_Home.aspx?StoreID=22223', name: '直配大陸'}]
					each listTxt in listTxts
						li
							a(href=listTxt.link title= listTxt.name target="_blank")= listTxt.name
				ul.n-left.n-footer__helper-box
					+helperTitle('關於東森購物')
					-var listTxts = [ {link: 'benefitexchange.aspx', name: '官方網站'}, {link: 'TV_index.aspx', name: '電視購物'}, {link: 'http://www.104.com.tw/jobbank/custjob/index.php?r=cust&j=4b414a754f63465d3c39416a555b3d1f257514a2b43634528282828263f682d2c917j98', name: '人才招募'}]
					each listTxt in listTxts
						li
							a(href=listTxt.link title= listTxt.name target="_blank")= listTxt.name
				ul.n-left.n-footer__helper-box
					+helperTitle('相關服務')
					-var listTxts = [ {link: 'sitemap.aspx?', name: '網站地圖'}, {link: 'Contact.aspx?', name: '連絡我們'}, {link: 'EDMSubscribe.aspx?', name: '電子報訂閱/取消'}, {link: 'R6MemCenterPost_sub.aspx?Page=6_4_Anti_Fraud', name: '防詐騙提醒'}]
					each listTxt in listTxts
						li
							a(href=listTxt.link title= listTxt.name target="_blank")= listTxt.name
				ul.n-left.n-footer__helper-box
					+helperTitle('廠商專區')
					-var listTxts = [ {link: 'business.aspx', name: '招商專區'}, {link: 'cooperatton.aspx?', name: '合作提案'}, {link: 'EDMSubscribe.aspx?', name: '電子報訂閱/取消'}, {link: 'http://www.bsmi.gov.tw/wSite/mp?mp=1', name: '應施檢驗商品檢索'}]
					each listTxt in listTxts
						li
							a(href=listTxt.link title= listTxt.name target="_blank")= listTxt.name
						
			.n-right.n-footer__fb
				<div class="fb-like" data-href="http://www.etmall.com.tw/Pages/Home.aspx" data-width="260" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
		.n-layout--md
			.n-left.n-footer__logo
				a(href="http://www.etmall.com.tw/Pages/Home.aspx" title="東森嚴選－ET Mall東森購物網")
			.n-left
				p 本網站所有內容及圖片均不得以任何型式，予以重製或傳送  <br /> <a href="http://www.etmall.com.tw/Pages/R6MemCenterNoticec_sub.aspx?Page=7_1_notice_security" title="安全機制" target="_blank">安全機制</a> 與 <a href="http://www.etmall.com.tw/Pages/R6MemCenterNoticec_sub.aspx?Page=7_2_notice_private" title="隱私聲明" target="_blank">隱私聲明</a> ( <a href="http://www.etmall.com.tw/XML/content/PCITLS/index.html" target="_blank">即日起停用支援TLS 1.0 加密協定</a> ) <br />  東森得易購股份有限公司版權所有 台灣 新北市中和區景平路258號1樓 <br /> 代表人：陳世志 <br /> 24H 免費服務專線：<a href="tel:0800-013-058" title="24H 免費服務專線：0800-013-058" target="_blank"> 0800-013-058 </a> <br /> 電子信箱：<a href="mailto:ehs_service@ehsn.com.tw" title="電子信箱：ehs_service@ehsn.com.tw"> ehs_service@ehsn.com.tw </a> <br /> 2017 EASTERN HOME SHOPPING &amp; LEISURE CO., LTD. All Rights Reserved.
			ul.n-right.n-footer__auth
				li
					a.n-footer--pci(href="http://www.etmall.com.tw/XML/Content/PCIDSS/index.html", title="PCI-DSS 3.1支付卡產業資料安全標準認證", target="_blank")
					p PCI-DSS 3.1支付卡<br />產業資料安全標準認證
				li
					a.n-footer--bsi(href="http://www.etmall.com.tw/XML/Content/BSI/index.html", title="資訊安全管理系統認證", target="_blank")
					p 資訊安全管理<br />系統認證
				//- mixin authList(className, link, name, authCode)
				//- 	li
				//- 		a(class= className, href= link, title= name, target="_blank")
				//- 		p= authCode
				//- +authList('n-footer--pci', 'http://www.etmall.com.tw/XML/Content/PCIDSS/index.html', 'PCIDSS', 'PCI-DSS 3.1支付卡產業資料安全標準認證')
				//- +authList('n-footer--bsi', 'http://www.etmall.com.tw/XML/Content/BSI/index.html', 'PCI DSS 資安認證', '資訊安全管理系統認證')
				//- +authList('n-footer--mcafee', 'https://www.scanalert.com/RatingVerify?ref=www.etmall.com.tw&amp;lang=TW', 'HACKER SAFE認證的網站足以預防99%以上的駭客犯罪', 'mcafee')
				//- +authList('n-footer--norton', 'https://trustsealinfo.verisign.com/splash?form_file=fdf%2Fsplash.fdf&amp;sap=&amp;dn=www.etmall.com.tw&amp;zoneoff=&amp;lang=zh_TW', '全球安全認證網站', 'norton')